<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goldenratiopro">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.Camera.any" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".firebasefeedback"></activity>
        <activity android:name=".HomePage" />
        <activity android:name=".Design" />
        <activity android:name=".Paintings" />
        <activity android:name=".Nature" />
        <activity android:name=".Human" />
        <activity android:name=".Building" />
        <activity android:name=".MusicPlayer" />
        <activity android:name=".GuideMain" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FaceRate" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>